@CHARSET "ISO-8859-1";


body {background-color: white;}
img {width: 100px; height: 100px;}
ul {list-style-type: none; border-spacing: 15px;}
li {padding: 15px; width: 200px; margin-bottom: 20px; text-align: center;}
h2 {color:black; font-size: 25px;}
h1 {color: navy;margin-left: 20px;}